.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  background-color: #34495e;
  min-width: 300px;
}

.login-label {
  color: #fff;
  margin-bottom: 0.5rem;
}

.login-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  outline: none;
}

/* Ошибка */
.input-error {
  border-color: red;
}

.error-text {
  color: red;
  margin-bottom: 0.5rem;
}

.login-button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #ecf0f1;
}
